.button {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #000000;
  background: linear-gradient(96.84deg, #edd78f 1.46%, #fdbf4a 92.56%);
  border-radius: 50px;
  border: 0;
  padding: 18px 45px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
}
